/*#chessBoard {
    display: grid;
    grid-template-columns: repeat(8, 50px);*/ /* Adjust the size as needed */
    /*grid-template-rows: repeat(8, 50px);*/ /* Adjust the size as needed */
    /*border: 2px solid black;
}

.cell {
    width: 50px;*/ /* Adjust the size as needed */
    /*height: 50px;*/ /* Adjust the size as needed */
    /*border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover img{
    cursor: pointer;
    width: 100%;
}*/
